/** @format */

.container {
  display: flex;
}
.container a {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: grey;
  text-align: center;
  margin: 10px;
}

.container a:nth-child(2n) {
  background: lightgreen;
}
